* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
}

.max-width {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

button {
  cursor: pointer;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Header a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(205, 196, 196, 0.467);
}



.Header h1 {
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-bar p {
  margin: 5px;
}

.Recipes {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipes-list:last-child {
  margin-bottom: 50px;
}

.recipe-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 5px;
  border: 1px solid rgb(199, 193, 193);
  border-radius: 5px;
  width: 350px;
  height: 300px;
}

.recipe-block:hover {
  background-color: rgba(246, 241, 241, 0.994);
}

.recipe-block h2 {
  text-align: center;
  font-size: 20px;
}

.recipe-img {
  width: 200px;
  height: 150px;
}

.recipe-footer-panel {
  display: flex;
  justify-content: center;
}

.ingredient-list {
  list-style: none;
  text-align: center;
}

.count-likes {
  position: absolute;
  right: 0px;
  bottom: 0;
  margin: 5px;
}

.recipe-item-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 800px;
}

.recipe-item-block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.recipe-item-img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.ingredients-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 15px;
}

.ingredients-block ul {
  margin-top: 10px;
}

.fav-button {
  color: white;
  background-color: orange;
  border: none;
  border-radius: 3px;
  padding: 2px;
  margin-left: 10px;
}

.fav-button:hover {
  background-color: rgba(255, 166, 0, 0.671);
}

.remove-fav-button {
  color: white;
  background-color: rgb(214, 48, 48);
  border: none;
  border-radius: 3px;
  padding: 2px;
}

.remove-fav-button:hover {
  background-color: rgba(214, 48, 48, 0.537);
}

.like-button {
  background: none;
  border: none;
  padding: 3px;
  font-size: 16px;
  border-radius: 3px;
}

.like-button:hover {
  background-color: #f0cd5b;
}